<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!--jdbc配置文件-->
                <value>classpath:hibernate.properties</value>
                <!--邮箱配置-->
                <value>classpath:mail.properties</value>
            </list>
        </property>
    </bean>

    <!--连接池-->
    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
    </bean>
    <!---hibernate配置-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://47.94.89.72:3306/CommicHouse</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.asura.ch.user.vo.UserEntity</value>
            </list>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:orm/UserEntity.hbm.xml</value>
            </list>
        </property>

    </bean>


    <!--邮件服务器配置-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}" />
        <property name="port" value="${mail.port}" />
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
    <!--邮件工具类-->
    <bean id="mail" class="com.asura.ch.util.Mail">
        <property name="mailSender" ref="mailSender"></property>
        <property name="mailMessage" ref="mailMessage"></property>
    </bean>


    <!--邮件格式-->
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">

        <property name="to" value="18443145302@163.com" />
        <property name="from" value="lhb.asura@qq.com" />
        <property name="subject" value="漫画屋注册验证码" />
        <property name="text">
            <value>
                <![CDATA[
			    尊敬的%s,
				您的验证码是 : %d(30分钟内有效)
			]]>
            </value>
        </property>
    </bean>

    <!---事务管理:====================================================-->
    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!--开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

    <!--Action配置================================-->
    <!--首页访问action-->
    <bean id="indexAction" class="com.asura.ch.index.action.IndexAction" scope="prototype"></bean>
    <!--User-->
    <bean id="userAction" class="com.asura.ch.user.action.UserAction" scope="prototype">
        <property name="mail" ref="mail"></property>
    </bean>

    <!--Service配置-->


    <!--Dao配置-->
</beans>